.SectionFourContainer {
    display: flex;
    background-color: tan;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.TextContainer {
    background-color: aliceblue;
    height: 500px;
    width: 500px;
    margin-left: 2rem;
    text-align: left;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: start;
    position: sticky;
    bottom: 0;
}

.Text {
    margin: 0;
    font-size: 5rem;
    font-weight: bold;
}

.Text:hover {
    text-decoration: underline;
    cursor: default;
}

.SignUpContainer {
    position: sticky;
    bottom: 0;
    background-color: aliceblue;
    height: 500px;
    width: 500px;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}