.LandingSignUp {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LandingSignUp p {
    font-size: 2.5rem;
}

.LandingSignUp form {
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.LandingSignUp .FormControl {
    font-size: 1.2rem;
    display: inline-block;
    margin: 15px 0;
    display: flex;
    justify-content: flex-start;
    height: 30px;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.LandingSignUp .FormControl input {
    color: grey;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.LandingSignUp .FormControl input:focus {
}

.LandingSignUp .FormActions button {
    color: grey;
    border-radius: 25px;
    border: none;
    width: 50%;
    height: 50px;
    font-size: 25px;
}

/*Sign In/Sign Up Page Below*/

.SignUp {
    height: 100%;
    width: 100%;
}

.SignUp p {
    font-size: 2.5rem;
}

.SignUp form {
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.SignUp .FormControl {
    font-size: 1.2rem;
    display: inline-block;
    margin: 15px 0;
    display: flex;
    justify-content: flex-start;
    height: 35px;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.SignUp .FormControl input {
    color: grey;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 1rem;
}

.SignUp .FormControl input:focus {
}

.SignUp .FormActions button {
    color: grey;
    border-radius: 5px;
    border: none;
    width: 50%;
    height: 50px;
    font-size: 25px;
    margin-bottom: 5px;
}