.SectionOneContainer {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    box-shadow: 0 2px 2px -2px black;
    margin-bottom: 50px;
}

.Box {
    height: 400px;
    width: 450px;
    margin: 0 2rem;
    text-align: center;
}

.TextContainer {
    text-align: left;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
}

.PracticeText {
    margin: 0;
    font-size: 5rem;
    font-weight: bold;
}

.PracticeText:hover {
    text-decoration: underline;
    cursor: default;
}

.SnapshotContainer {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 2px black;
}