.Modal {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 500;
    background-color: white;
    height: 500px;
    width: 500px;
    border: 2px solid rgb(199, 199, 199);
    box-shadow: auto;
}