.Container {
    height: 50px;
    width: 40px;
    background-color: red;
    box-shadow: 1px 1px 1px black;
    position: fixed;
    top: 25%;
    z-index: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
}

.Text {
    color: white;
    font-size: 2rem;
}