.Box {
    background-color: #fdfdeb;
    height: 400px;
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-left: 2rem;
    align-self: center;
}

.Stretch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.Stretch div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}