.Header {
    height: 50px;
    width: 100%;
    display: grid;
    align-items: center;
    align-content: center;
    border-bottom: 2px solid black;
    background-color: rgb(93, 219, 219);
    margin-bottom: 5rem;
}

.Header > * {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: center;
}

.Header > *:last-child {
    justify-self: right;
}

.SignInLink {
    margin-right: 25px;
}