.Box {
    height: 25%;
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.Box span {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.Stretch {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.Stretch:hover {
    box-shadow: 0 5px 5px -2px black;
}
.Stretch:active {
    background-color: #f0f0ce;
}

.Stretch span {
    border-radius: 5px;
    height: 90%;
    width: 90%;
}